@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Nunito';

    /* font-family:var(--bs-font-sans-serif); */
}
::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #54545496;
}

::-webkit-scrollbar-thumb:hover {
    background: #58585896;
}
body {
    /* linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.605)),  */
    background-image: url('../dist/images/bgn.svg');
    background-position: center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    /* height: 100vh; */
    font-weight: 100;

}

h2 {
    text-align: center;
    padding: 30px;
}

#dept_filter,
#year_filter,
option {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    height: 40px!important;
    font: 30px!important;
    border: none;
    color: white;
}

.d-none {
    display: none!important;
  }
  

#myTable {
    font-family: 'Nunito', sans-serif;
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin: 60px auto;
    font-family: 'Nunito';
    /* padding: 40px; */
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    font: 5px!important;
    padding: 50px 35px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

#prompt{
    align-items: center;
    text-align: center;
    font-size: 15px;
}
button, .btn, .btn-primary {
    /* margin-top: 40px !important; */
    margin-top: 10px;
    font-family: 'Nunito', sans-serif !important;
    /* width: 100%; */
    float:right;
    background-color: #2d8b8bb3;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px !important;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgba(9, 13, 21, 0.75);
    color: rgb(245, 241, 241)!important;
}

.close{
    float: left !important;;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(4, 7, 11, 0.75);
}

 .modal-content{
     padding: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75)!important;
    font: 30px!important;
    border: none;
    color: white;
}

.modal-body .form-control{
    margin-top:3px;
    height:3rem;
    border:none;
    background: rgba(79, 81, 83, 0.498)!important;
    color: white;
}