@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Montserrat';
}

body {
    background-color: #000;
    margin: 0;
    /* height: 100vh; */
    font-weight: 100;
    background: #000;
}

h2 {
    text-align: center;
    padding: 20px;
}

#table {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin: 100px auto;
    font-family: 'Montserrat';
    padding: 40px;
    width: 80%;
    min-width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 50px 35px;
}


body,
head {
    display: block;
    color: transparent;
}

head::before,
head::after,
body::before,
body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
    text-shadow: 0.2764196111em 0.2061782399em 7px rgba(255, 251, 0, 1), 1.5007040245em -0.2277132523em 7px rgba(140, 0, 255, 1), 0.2976218671em 0.9178449821em 7px rgba(255, 51, 0, 1), 1.5614509066em 0.5640778723em 7px rgba(255, 183, 0, 1), 1.9151531614em 1.2376543184em 7px rgba(187, 255, 0, 1), -0.1327862361em 2.0859490943em 7px rgba(255, 0, 60, 1), 1.6626406294em 2.23810609em 7px rgba(255, 0, 157, 1), -0.1801898003em 0.6589371125em 7px rgba(255, 0, 106, 1), 1.6689075256em 0.4756056452em 7px rgba(255, 183, 0, 1), 1.7028908107em 2.1913321492em 7px rgba(0, 255, 17, 0.9), 2.3695423658em 2.1461473823em 7px rgba(132, 255, 0, 0.9), -0.4876918709em 2.2161353993em 7px rgba(0, 230, 255, 0.9), 2.1921338391em 0.7142639445em 7px rgba(0, 153, 255, 0.9), 0.5951604336em 0.0072681673em 7px rgba(255, 0, 76, 0.9), 2.0086929041em 0.7566815099em 7px rgba(0, 51, 255, 0.9), 1.9710216976em -0.2195493806em 7px rgba(255, 0, 234, 0.9), 0.6987662163em 1.3693892988em 7px rgba(0, 4, 255, 0.9), 1.0401977196em 0.0192123305em 7px rgba(183, 255, 0, 0.9), 0.7760195999em 1.8732466141em 7px rgba(0, 255, 145, 0.9), 0.6683606418em 0.6372489939em 7px rgba(213, 255, 0, 0.9), 2.0733616662em 1.2930646244em 7px rgba(0, 255, 21, 0.9), 0.6259215321em 2.0363420395em 7px rgba(102, 255, 0, 0.9), 2.1326034784em 1.0178326296em 7px rgba(255, 0, 47, 0.9), 1.2946743899em 1.9001754855em 7px rgba(255, 0, 221, 0.9), 0.0763998109em 2.0727331366em 7px rgba(0, 208, 255, 0.9), 2.4304726943em 1.1795842851em 7px rgba(0, 98, 255, 0.9), 0.2804820457em 1.1843710377em 7px rgba(0, 255, 94, 0.9), 0.044515311em 0.3234793203em 7px rgba(111, 255, 0, 0.9), -0.2708138659em 2.1935856895em 7px rgba(0, 234, 255, 0.9), 1.0258865014em -0.3890602071em 7px rgba(85, 0, 255, 0.9), 0.0577059679em 0.3674947796em 7px rgba(0, 255, 145, 0.9), 1.2457249443em 0.5908935797em 7px rgba(0, 255, 111, 0.9), 1.6403558325em -0.28036506em 7px rgba(0, 255, 230, 0.9), 0.5943621118em 1.3229351835em 7px rgba(255, 0, 64, 0.9), 0.3333678566em 1.1633549718em 7px rgba(0, 255, 123, 0.9), 1.9415827968em 2.2618800661em 7px rgba(0, 255, 170, 0.9), 1.0948197537em 0.1766858695em 7px rgba(242, 255, 0, 0.9), 0.5581951146em 1.2826013341em 7px rgba(157, 0, 255, 0.9), 0.3973225839em 0.3185283969em 7px rgba(255, 4, 0, 0.9), 0.8484030838em -0.28262986em 7px rgba(217, 255, 0, 1), 2.3019103467em -0.3616910902em 7px rgba(255, 221, 0, 1);
    animation-duration: 44s;
    animation-delay: -27s;
}

body::after {
    text-shadow: -0.0574342327em 1.5905728303em 7px rgba(255, 225, 0, 1), 2.0530764617em 1.4434297089em 7px rgba(0, 255, 153, 1), 2.3188715413em 2.4736773888em 7px rgba(255, 17, 0, 1), 0.7232413861em 0.8833973046em 7px rgba(0, 255, 98, 1), 0.7619482033em -0.2531666782em 7px rgba(47, 0, 255, 1), 1.6411120548em 1.5128280046em 7px rgba(255, 85, 0, 1), 110832911em -0.2933455965em 7px rgba(255, 26, 0, 1), -0.3241684948em -0.0726843078em 7px rgba(255, 251, 0, 1), 1.5501021534em 0.1200401465em 7px rgba(21, 255, 0, 0.9), 1.1219963327em -0.4888277585em 7px rgba(242, 0, 255, 0.9), 1.839104443em 1.360433456em 7px rgba(0, 213, 255, 0.9), 2.373142118em 2.4720652415em 7px rgba(255, 0, 106, 0.9), -0.2195623125em 0.0897686503em 7px rgba(255, 0, 136, 0.9), 1.1525833866em 1.9316539128em 7px rgba(89, 0, 255, 0.9), 1.4005741933em 2.2759900837em 7px rgba(0, 145, 255, 0.9), 0.0802297036em 0.585438313em 7px rgba(0, 255, 247, 0.9), 1.5402042377em 0.7270363724em 7px rgba(255, 0, 72, 0.9), 1.9972630881em 0.7470522426em 7px rgba(13, 0, 255, 0.9), 0.6522102413em 0.5168901156em 7px rgba(255, 0, 153, 0.9), 1.3677007113em 1.2967438511em 7px rgba(0, 60, 255, 0.9), 1.9005631331em 2.3697849535em 7px rgba(0, 255, 26, 0.9), -0.4366393024em 0.6280607964em 7px rgba(255, 191, 0, 0.9), -0.0057531807em -0.4367956151em 7px rgba(0, 255, 200, 0.9), 0.218506913em 0.6498661065em 7px rgba(255, 162, 0, 0.9), -0.030048162em 1.5643441538em 7px rgba(94, 0, 255, 0.9), 1.6377248341em 2.4155370341em 7px rgba(255, 13, 0, 0.9), 0.9142801517em 1.7736845269em 7px rgba(115, 255, 0, 0.9), 0.5446960204em 0.2847520568em 7px rgba(0, 251, 255, 0.9), 1.7360478846em 0.5628325981em 7px rgba(0, 162, 255, 0.9), 1.3055856567em 0.7655478494em 7px rgba(251, 255, 0, 0.9), -0.1516079352em 1.0647047016em 7px rgba(255, 0, 81, 0.9), 0.0786997814em 1.8058371122em 7px rgba(255, 0, 123, 0.9), 1.5812476739em 1.2919052927em 7px rgba(0, 255, 149, 0.9), 1.9781625483em 1.9489253496em 7px rgba(0, 55, 255, 0.9), 0.7041329728em 1.5003276002em 7px rgba(255, 0, 119, 0.9), 2.3709081145em 0.6060951362em 7px rgba(0, 47, 255, 0.9), -0.2965796449em 1.3227383261em 7px rgba(102, 0, 255, 0.9), -0.16600529em -0.1099224187em 7px rgba(0, 255, 21, 0.9), 1.9121173897em 2.4557568896em 7px rgba(106, 255, 0, 0.9), -0.3859015693em 0.3477924288em 7px rgba(255, 0, 208, 0.9), -0.4339295868em 0.2783541585em 7px rgba(255, 38, 0, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
}

head::before {
    text-shadow: 1.5288858004em 1.0474928713em 7px rgba(0, 128, 255, 0.9), 1.0320142943em 1.3866355158em 7px rgba(0, 208, 255, 0.9), 0.3473465535em 2.1552964405em 7px rgba(230, 255, 0, 0.9), -0.2881568395em 1.7566759858em 7px rgba(255, 0, 179, 0.9), 0.3860107543em 1.759947979em 7px rgba(25, 0, 255, 0.9), 1.2387037341em 0.7205729933em 7px rgba(0, 255, 98, 0.9), 2.4794226009em -0.057009002em 7px rgba(255, 17, 0, 0.9), 0.4178726733em 1.7147107498em 7px rgba(0, 145, 255, 0.9), 0.3208925462em 0.6036369489em 7px rgba(225, 255, 0, 0.9), 1.2518938322em 0.9199158318em 7px rgba(255, 153, 0, 0.9), 1.4190318761em -0.0304069899em 7px rgba(255, 17, 0, 0.9), 0.7726946274em 1.2091317846em 7px rgba(0, 98, 255, 0.9), 1.3435183563em 0.4725742154em 7px rgba(0, 255, 179, 0.9), 2.1662563391em 0.3837747699em 7px rgba(255, 0, 191, 0.9), 0.755989838em 1.0617067658em 7px rgba(77, 0, 255, 0.9), 0.328055412em 1.7728330038em 7px rgba(255, 72, 0, 0.9), 0.6565440261em -0.3459479119em 7px rgba(132, 0, 255, 0.9), -0.2403812431em 2.1963841052em 7px rgba(47, 255, 0, 0.9), 0.8360220377em 2.0860695283em 7px rgba(0, 123, 255, 0.9), 0.81806173em 1.4613350704em 7px rgba(255, 162, 0, 0.9), 1.56094298em 0.6359916344em 7px rgba(255, 0, 30, 0.9), -0.3237240877em 1.5570542184em 7px rgba(72, 255, 0, 0.9), 2.4314212589em 1.0948443909em 7px rgba(140, 255, 0, 0.9), 0.9955648284em 1.7221024443em 7px rgba(255, 4, 0, 0.9), -0.2482932511em -0.1978111773em 7px rgba(183, 0, 255, 0.9), 1.3179486076em -0.0778787018em 7px rgba(0, 128, 255, 0.9), 0.9446596096em 1.0346454114em 7px rgba(128, 255, 0, 0.9), 0.1272226342em 0.41143747em 7px rgba(0, 255, 26, 0.9), 1.475016844em 1.1811807401em 7px rgba(47, 0, 255, 0.9), -0.1428898855em 1.1526390299em 7px rgba(0, 25, 255, 0.9), -0.0932769005em -0.3523615137em 7px rgba(0, 89, 255, 0.9), 2.3081649271em 1.435809982em 7px rgba(0, 255, 17, 0.9), 1.777401894em 2.4174934025em 7px rgba(0, 136, 255, 0.9), -0.4920838415em -0.4470410277em 7px rgba(26, 255, 0, 0.9), 0.9973609934em 0.1064501561em 7px rgba(119, 255, 0, 0.9), 0.7927330352em 0.6640395081em 7px rgba(174, 255, 0, 0.9), 1.0380456506em 2.4354676646em 7px rgba(0, 255, 17, 0.9), 0.8479314397em 1.787961723em 7px rgba(0, 170, 255, 0.9), -0.3998544863em 1.1176876783em 7px rgba(255, 0, 85, 0.9), 0.553070887em 1.5310715814em 7px rgba(0, 72, 255, 0.9), 2.308661777em 1.1290337702em 7px rgba(255, 0, 153, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
}

head::after {
    text-shadow: 0.6300833133em -0.0034875523em 7px rgba(0, 183, 255, 0.9), 2.2344428588em 1.6174414876em 7px rgba(0, 140, 255, 0.9), -0.0678808599em 1.5381664699em 7px rgba(247, 255, 0, 0.9), 2.2383247319em 1.1925282961em 7px rgba(21, 255, 0, 0.9), 2.1235997135em 0.2137042739em 7px rgba(0, 0, 255, 0.9), 1.4397018086em -0.1868849907em 7px rgba(255, 0, 38, 0.9), -0.3652016059em 1.0829141892em 7px rgba(0, 255, 81, 0.9), 0.6612827937em 1.2876393789em 7px rgba(255, 0, 76, 0.9), 1.0774458873em 2.4386381181em 7px rgba(72, 0, 255, 0.9), 1.6438401812em 1.9032511019em 7px rgba(255, 0, 217, 0.9), 0.3591988049em 0.2903922032em 7px rgba(174, 0, 255, 0.9), 0.6818683749em 0.7126023565em 7px rgba(81, 0, 255, 0.9), 1.5967368568em -0.1885017006em 7px rgba(255, 162, 0, 0.9), 0.5978895533em 1.2308575058em 7px rgba(0, 89, 255, 0.9), 1.2122800568em 0.4949745401em 7px rgba(0, 166, 255, 0.9), -0.433631835em 1.4443466039em 7px rgba(140, 255, 0, 0.9), 2.1959328152em 2.2226359759em 7px rgba(0, 38, 255, 0.9), 1.9560657239em 1.9664124024em 7px rgba(26, 255, 0, 0.9), 1.2354947546em 2.3626853055em 7px rgba(136, 0, 255, 0.9), 1.7521988718em 0.1333473481em 7px rgba(255, 0, 166, 0.9), 0.8855157287em 1.369953236em 7px rgba(38, 0, 255, 0.9), 0.3641542726em 0.1316985496em 7px rgba(0, 255, 208, 0.9), 0.8310887331em 2.2565009393em 7px rgba(255, 0, 106, 0.9), 2.1510125309em 1.7640008834em 7px rgba(0, 145, 255, 0.9), -0.4797167904em -0.2828584848em 7px rgba(0, 255, 213, 0.9), 0.7374551493em 2.1140829705em 7px rgba(255, 157, 0, 0.9), 0.6226917627em 0.8846725916em 7px rgba(255, 0, 255, 0.9), 1.3217611694em -0.4049600013em 7px rgba(4, 0, 255, 0.9), 0.5756514646em 1.4190025241em 7px rgba(0, 145, 255, 0.9), 1.7955548751em -0.1183770684em 7px rgba(255, 162, 0, 0.9), 0.0100118381em 1.7287807284em 7px rgba(255, 43, 0, 0.9), 2.0717477056em -0.130975724em 7px rgba(0, 255, 174, 0.9), -0.3459203941em 1.1457706288em 7px rgba(217, 0, 255, 0.9), 0.992210923em 1.6002626918em 7px rgba(106, 0, 255, 0.9), -0.2871549925em 2.3134220372em 7px rgba(255, 0, 221, 0.9), 2.0854946177em 0.4637919911em 7px rgba(255, 0, 13, 0.9), 1.55802282em -0.2197490249em 7px rgba(0, 255, 149, 0.9), 1.4404917778em 2.4573396612em 7px rgba(255, 0, 162, 0.9), 2.2293750987em 1.3920376566em 7px rgba(0, 13, 255, 0.9), -0.005436226em 0.4343380839em 7px rgba(60, 255, 0, 0.9), 2.1841717952em -0.3515542819em 7px rgba(255, 0, 43, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }

    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}