@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: url('../dist/images/bgmang.svg') no-repeat center center fixed;

    background-position: center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}



#loginForm {

    top: 50%;
    left: 50%;
    margin: 10px auto;
    font-family: 'Nunito';
    padding: 40px;
    width: 40%;
    min-width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);

    padding: 20px 35px;

    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    border-radius: 10px;
    background-color: rgba(42, 44, 46, 0.27);
    box-shadow: 0 8px 32px 0 rgba(11, 11, 11, 0.37);
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.18);

    padding: 50px 35px;
}

#loginForm * {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
}

#loginForm h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 100;
    line-height: 32px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}



::placeholder {
    color: #e5e5e5;

}

/* Mark input boxes that gets an error on validation: */
input.invalid,
select:required:invalid {
    background-color: #ffdddd6d;
}

.select {
    position: relative;
    display: flex;
}

::placeholder {
    color: #e5e5e5;
    font-family: 'Nunito', sans-serif;
}

button {
    margin-top: 40px !important;
    font-family: 'Nunito', sans-serif !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px !important;
    cursor: pointer;
}

#checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
}

button:hover {
    background-color: #d1cccc;
    color: rgb(46, 46, 46);
}

form i {
    margin-left: -30px;
    cursor: pointer;
}