@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    background-image: url('../dist/images/bg2.svg');
    font-family: 'Montserrat','sans-sarif';
    color: #ffffff!important;
    background-position: top;
    background-size: cover;
}

/* .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:nth-child(1) {
    background: linear-gradient(-45deg, #23a2f6, #1845ad, #010332, #100328);
    background-size: 200% 200%;
    /* font-weight: 100; */
    /* animation: gradient 15s ease infinite;
    border-radius: 35% 65% 70% 30% / 65% 65% 35% 35%;
    left: -400px;
    top: 140px;
}

.shape:nth-child(2) {
    height: 100px;
    width: 100px;
    background: linear-gradient(-45deg, #3f0c02, #561002, #c62707, #ff512f, #f09819);
    background-size: 400% 400%;
    /* font-weight: 100; */
    /* animation: gradient 15s ease infinite;
    border-radius: 35% 65% 70% 30% / 65% 65% 35% 35%;
    left: -50px;
    top: -80px;
}

.shape:nth-child(3) {
    background: linear-gradient(-45deg, #3f0c02, #561002, #c62707, #ff512f, #f09819);
    background-size: 400% 400%;
    font-weight: 100;
    animation: gradient 15s ease infinite;
    right: -80px;
    bottom: -80px;
    border-radius: 35% 65% 70% 30% / 65% 65% 35% 35%;
}

.shape:nth-child(4) {
    background: linear-gradient(-45deg, #23a2f6, #1845ad, #010332, #100328);
    background-size: 200% 200%;
    font-weight: 100;
    animation: gradient 15s ease infinite;
    border-radius: 35% 65% 70% 30% / 65% 65% 35% 35%;
    right: -400px;
    top: -100px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    } 

} */

form {
    height: 480px;
    width: 400px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 50px 35px;
}

form * {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
}

form h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 100;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}

button {
    margin-top: 40px!important;
    font-family: 'Montserrat', sans-serif!important;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px!important;
    cursor: pointer;
}

button:hover {
    background-color: #d1cccc;
    color: rgb(46, 46, 46);
}

/* @media screen and (max-width: 430px) {
    .shape:nth-child(1) {
        background: linear-gradient(-45deg, #23a2f6, #1845ad, #010332, #100328);
        background-size: 400% 400%;
        font-weight: 100;
        animation: gradient 15s ease infinite;
        left: 10%;
        top: 20%;
        height: 100px;
        width: 100px;
    }

    .shape:nth-child(2) {
        background: linear-gradient(-45deg, #23a2f6, #1845ad, #010332, #100328);
        background-size: 400% 400%;
        font-weight: 100;
        animation: gradient 15s ease infinite;
        height: 200px;
        width: 200px;
        top: 90%;
        left: 80%
    }

    .shape:nth-child(3) {
        background: linear-gradient(-45deg, #320a01, #6a1302, #ff512f, #f09819);
        background-size: 400% 400%;
        font-weight: 100;
        animation: gradient 15s ease infinite;
        left: 0%;
        height: 150px;
        width: 150px;
        top: 70%;
    }

    .shape:nth-child(4) {
        background: linear-gradient(-45deg, #320a01, #6a1302, #ff512f, #f09819);
        background-size: 400% 400%;
        font-weight: 100;
        animation: gradient 15s ease infinite;
        right: -20%;
        top: 30%;
        height: 100px;
        width: 100px;
    }
} */