@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Nunito';

    /* font-family:var(--bs-font-sans-serif); */
}


.lds-ellipsis {
    align-items: center;
    justify-content: center;
    margin: 10% 50%;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #54545496;
}

::-webkit-scrollbar-thumb:hover {
    background: #58585896;
}
body {
    /* linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.605)),  */
    background-image: url('../dist/images/bgn.svg');
    background-position: center;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;

    margin: 0;
    /* height: 100vh; */
    font-weight: 100;

}

h2 {
    text-align: center;
    padding: 30px;
}

#dept_filter,
#year_filter,
option {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    height: 40px!important;
    font: 30px!important;
    border: none;
    color: white;
}

.d-none {
    display: none!important;
  }
  
  

#myTable {
    font-family: 'Nunito', sans-serif;
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin: 60px auto;
    font-family: 'Nunito';
    /* padding: 40px; */
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    font: 5px!important;
    padding: 50px 35px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(4, 7, 11, 0.75);
}

#prompt{
    align-items: center;
    text-align: center;
    font-size: 15px;
}
